<div class="row col-lg-12" style="color: #aaaaaa;position: fixed;bottom: 0;left: 10px;width:100%;padding: 0;background: white;">
    <hr style="width: 100%;">
    <p class="col-lg-6" style="text-align: right;">سامانه جامع انبارداری،ثبت سفارش و خرید</p>
    <div class="col-lg-6" style="text-align: left;">2018 &copy; </div>
</div>
