<div class="row col-lg-12" style="color: #aaaaaa;position: fixed;bottom: 0;left: 10px;width:100%;padding: 0;background: white;">
    <hr style="width: 100%;">
    <p class="col-lg-4" style="text-align: right;">سامانه جامع انبارداری،ثبت سفارش و خرید</p>
    <div class="col-lg-4" style="text-align: center;">2018 &copy; </div>
    <p class="col-lg-4" style="float: left;">Danial:D</p>
</div>
