<hr>
<div class="row" style="color: #aaaaaa;">
    <p class="col-lg-4" style="text-align: right;">سامانه جامع انبارداری،ثبت سفارش و خرید</p>
    <div class="col-lg-4" style="text-align: center;">2018 &copy; </div>
    <p class="col-lg-4" style="float: left;">Danial:D</p>
</div>
