<!doctype html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
    <title>پنل کاربری راهبر</title>
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 20px;">
        <h1 style="margin-right: 20px;">پنل کاربری راهبر</h1>
    </div>
    <nav class="nav nav-pills flex-column flex-sm-row" style="margin-top: 30px;">
        <a class="flex-sm-fill text-sm-center nav-link" href="/staff-management">مدیریت کاربران</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/staff-interactions">تعاملات کاربران</a>
    </nav>
    <hr>

    <% include ./partials/footer.ejs %>
</div>

<% include ./partials/scripts.ejs %>
</body>
</html>