<!doctype html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
    <title>خطا</title>
</head>
<body>
<div class="container" style="color: #ff695d;">
    <h1 style="margin-top: 30px; text-align: center;">خطا!!!</h1>
    <h4 style="margin-top: 30px; text-align: center;">متاسفانه شما اجازه دسترسی به این صفحه را ندارید.</h4>
    <a href="/logout" style="color: #ff695d; text-align: center;">
        <h4 style="margin-top: 50px;">برای بازگشت اینجا کلیک کنید.</h4>
    </a>

    <% include ./partials/footer.ejs %>
</div>

<% include ./partials/scripts.ejs %>
</body>
</html>