<!doctype html>
<html lang="en">
<head>
    <% include ./partials/head.ejs %>
    <title>پنل کاربری کارشناس برنامه ریزی</title>
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 20px;">
        <h1 style="margin-right: 20px;">پنل کاربری کارشناس کارشناس برنامه ریزی</h1>
    </div>
    <!--nav-pills flex-column flex-sm-row-->
    <nav class="nav flex-sm-row" style="margin-top: 30px;">
        <!--<div style="text-align: right;">-->
            <!--<a class="nav-item nav-link" href="/good-management" style="display: inline-block;">مدیریت شرکت ها</a>-->
        <!--</div>-->
        <div style="text-align: right;">
            <a class="nav-item nav-link" href="/company-management" style="display: inline-block;">مدیریت شرکت ها</a>
        </div>
        <div class="col-lg-9" style="text-align: right;">
            <a class="nav-item nav-link" href="/purchase-query-management" style="display: inline-block;">مدیریت درخواست خرید</a>
        </div>
        <a class="nav-item nav-link" href="/logout" style="float: left;">
            <button class="btn btn-danger"><i class="fa fa-sign-out" aria-hidden="true" style="margin-left: 10px;"></i>خروج</button>
        </a>
    </nav>
    <hr>

    <% include ./partials/footer.ejs %>
</div>

<% include ./partials/scripts.ejs %>
</body>
</html>